body{
    background-image: linear-gradient(to right top, #2d98ea, #a72ef9);
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    
}


.box{
    background-color: white;
    width: 500px;
    padding: 30px;
    height:400px;
   
}

h2{
    background-color: black;
    color: rgb(207, 207, 207);
     margin-bottom: 0;
     Border-radius:10px 10px 0px 0px; 
     padding-left: 5px;
     height: 5vh;
     text-align: center;
    
}

.box_name{
    width: 100%;
    padding: 10px;
}

.box_input{
    display: flex;
    gap: 10px;
    border-radius: 10px;
}