body {
  background-color: rgb(255, 255, 255);
}

.titulo1 {
  color: #4413e4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}
.subtitulo1 {
  color: #4413e4;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.paragrafo1 {
  color: #e41313;
 
  
}

.paragrafo2 {
 
  color: rgb(107, 9, 228);
  
}
.paragrafo3 {

  color: rgb(9, 228, 78);
 
}
.paragrafo1, .paragrafo2, .paragrafo3 {
  font-family: 'Times  Roman', Times, serif;
  font-size: 30px;
  text-align: left;
}
