h1{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 500px;
}


tr{
  line-height: 40px;
  
}

tr:first-child{
  background-color: #fe5e23;
  color: aliceblue;
  border-top: #000000;
}


.cab2{
 background-color: #fff1ea;
}
.cab4{
 background-color: #fff1ea;
}
.cab6{
 background-color: #fff1ea;
}
 





