
table {
  border-collapse: collapse; 
  border-spacing: 0;
  font-size: 20px;
  font-family: Arial;
  width: 500px;
}
tr {
  line-height: 40px;
  border-bottom: solid 2px #d8d8d8;
}

 tr:first-child {
  background-color: #238636;
  color: aliceblue;
  

}
td{
  padding-left: 20px;
}

td:first-child{
  border-radius: 10px 0px 0px 0px;
  
}
td:last-child{
  border-radius: 0px 10px 0px 0px;
  
}

 tr:last-child{
  border-bottom: solid 2px #238636;
}
.sup { 
  color: #238636;
  background-color: #BEBEBE;
}